<div class="upload-file-box">
	<div class="upload-inbox">
		<span>Upload new Image file</span>
		<%= form_with url: "/userimageupload", method: :post, html: { multipart: true } do |form| %>
			<div class="form-box">
				<%= form.file_field :user_img, :required => true %>
				<div class="submit-btn">
					<%= form.submit "Upload" %>
				</div>
			</div>
		<% end %>
	</div>
</div>	