<div style="color:white">
	<h1>Upload new file</h1>
	<%= form_with url: "/userimageupload", method: :post, html: { multipart: true } do |form| %>
		<%= form.file_field :user_img, :required => true %>
		<%= form.submit "Save" %>
	<% end %>
</div>	