<div class="show-users">
	<h1>All user deatils.</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
		<% @users.each do |user|%>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td>
					<p class="user-delete-btn"><%= link_to "Delete User", admin_activity_path(user.id), method: :delete %></p> 
					<p class="user-profile-btn"><%= link_to "View Profile", view_profile_path(id: user.id) %></p>
				</td>
			</tr>
		<% end %>
	</table>
</div>