.forget-pwd{
	color: white;
	padding: 50px 50px;
}
.f-password > input{
	margin-top: 15px;
	margin-bottom: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	width: 500px;
	padding: 10px 10px;
	font-size: 25px;
}
.f-actions > input{
	margin-top: 15px;
	margin-bottom: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	width: 500px;
	padding: 10px 10px;
	color: white;
	font-size: 25px;
	background-color: red;
}

//change password box
.change-pass{
	color: white;
	width: 800px;
	padding-top: 20px;
	padding-left: 20px;
}