a {
	color: #0066ff;
}
.user-upload-services{
	margin-top: 17rem;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.user-upload-services > div{
	width: 500px;
	height: 300px;

	// flex: 1 1 auto;
}
.image-upload-box{
	margin: 0px 20px;
	border: 4px solid rgb(177, 174, 174);
	padding: 20px;
	border-radius: 5px;
	align-items: center;
}
.audio-upload-box{
	margin: 0px 20px;
	border: 4px solid rgb(177, 174, 174);
	padding: 20px;
	border-radius: 5px;
	align-items: center;
}
.user-upload-services > div >span{
	font-size: 30px;
}
.user-ic-icon{
	font-size: 200px;
}