.user-services{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
}
.user-services > div{
	margin: 10px 0px;
}

.first-feature-line{
	text-align: center;
	display: flex;
	flex-direction: row;
}
.first-feature-line > div{
	margin: 0px 20px;
	border: 1px solid rgb(177, 174, 174);
	padding: 20px;
	border-radius: 5px;
	width: max-content;
	height: max-content;
	align-items: center;
}
.first-feature-line > div > span{
	font-size: 40px;
}
.first-feature-line > div:hover{
	background-color: #002c59;
	border: 1px solid #002c59;
}
.second-feature-line{
	text-align: center;
	display: flex;
	flex-direction: row;
}
.second-feature-line > div{
	margin: 0px 20px;
	border: 1px solid rgb(177, 174, 174);
	padding: 20px;
	border-radius: 5px;
	width: max-content;
	height: max-content;
}
.second-feature-line > div:hover{
	background-color: #002c59;
	border: 1px solid #002c59;
}
.second-feature-line > div > span{
	font-size: 40px;
}
.image-compression{
	display: flex;
	flex-direction: column;
}
.ic-icon{
	font-size: 70px;
}