.user-services{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
}
.user-services > div{
	margin: 10px 0px;
}
.s-op{
	display: inline-block;
	margin: 20px 20px;
	border: 1px solid rgb(177, 174, 174);
	padding: 20px;
	border-radius: 5px;
	width: max-content;
	height: max-content;
	align-items: center;
}

.first-feature-line{
	text-align: center;
	// display: flex;
	// flex-direction: row;
}

.first-feature-line > div > span{
	font-size: 40px;
}
.first-feature-line > div:hover{
	background-color: #002c59;
	border: 1px solid #002c59;
}
.second-feature-line{
	text-align: center;
	display: flex;
	flex-direction: row;
}
.second-feature-line > div{
	margin: 0px 20px;
	border: 1px solid rgb(177, 174, 174);
	padding: 20px;
	border-radius: 5px;
	width: max-content;
	height: max-content;
}
.second-feature-line > div:hover{
	background-color: #002c59;
	border: 1px solid #002c59;
}
.second-feature-line > div > span{
	font-size: 40px;
}
.image-compression{
	display: flex;
	flex-direction: column;
}
.ic-icon{
	font-size: 70px;
}

//intro section
.web-intro{
	margin-top: 120px;
	margin-bottom: 120px;
	color: white;
	display: flex;
}
.web-intro-left {
	padding-left: 20px;
	padding-top: 150px;
}
.web-intro-left > span{
	font-size: 60px;
	font-weight: 900;
}
.web-intro-left > div{
	margin-top: 15px;
}

.web-intro-left> div > span{
	font-size: 25px;
	color: rgb(177, 174, 174);
}
.App-logo {
	height: 60vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}